@keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}
@-moz-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}
@-webkit-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}
@-ms-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}
@-o-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}

body {
    background-color: #48C9B0;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

.nav {
  background-color: hsl(115, 54%, 57%);
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
}

.logo-pic {
    float: left;
    position: inherit;
    margin-left: 10px;
    animation-name: round;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.logo-pic img {
    width: 50px;
    height: 50px;
}

@keyframes round {
    0% {
      left: 0px;
    }
    5% {
        left: 10px;
    }
    10% {
      left: 0px;
    }
    15% {
        left: 10px;
    }
    20%, 100% {
        left: 0px;
    }
  }

.nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    /*hack to remove the space between nav sections*/
    font-size: 0px;
}

.nav ul li {
    padding: 16px;
    text-align: center;
    border-bottom: 1px solid hsl(115, 63%, 65%);
    font-size: 1.2rem;
    transition: background-color 0.5s;
    display: block;
    position: relative;
}

img {
    width: 250px;
    height: 250px;
}

/*
.nav ul li::after {
    content: "";
    background-image: url(https://lh3.googleusercontent.com/proxy/U3pcT0SsJQDyanX185-rJknmfGBfJwiUF_m04OGFu2F52IM1F81twWOP1ok8ylGlri90ViOYSP4FHu_7Y1RMWbR18vJWu40D);
    background-size: initial;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    position: absolute;  
  }
  */

.nav ul li:hover {
    background-color: hsl(116, 40%, 37%);
    border-bottom: none;
}

.banner {
    margin-top: 200px;
    background-image: url(images/pixelart-background.jpg);
    background-position: 0px 0px;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 150px;
    padding-bottom: 150px;

    animation: animatedBackground 10s linear infinite;
    -moz-animation: animatedBackground 10s linear infinite;
    -webkit-animation: animatedBackground 10s linear infinite;
    -ms-animation: animatedBackground 10s linear infinite;
    -o-animation: animatedBackground 10s linear infinite;
}

.centered {
    padding: 0px 16px;
    margin: 0px auto;
    text-align: center;
}

.title {
    max-width: 700px;
    margin-top: 15px;
    background-color: black;
    font-size: 1.5rem;
}

.intro-text {
    /*color: #E74C3C;*/
    font-family: "Lobster Two", cursive;
    margin: 0px auto;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #E74C3C
}

.services {
    margin-top: 30px;
    display: block;
    box-sizing: border-box
}

.single-service {
    margin-bottom: 32px;
    box-sizing: border-box
}

.single-service h2 {
    font-size: 0.4rem;
    color: black
}

.single-service figure {
    margin: 0px auto;
}

.single-service figcaption {
    margin: 0px 30px;
    margin-top: 10px;
    padding: 0px 16px;
    font-weight: bold;
    font-family: 'Odibee Sans', cursive;
    font-size: 1.5rem;
    background-color: black;
    box-sizing: border-box
}

.single-service span {
    color: red
}

footer {
    background-color: hsl(115, 54%, 57%);
    font-family: "Lobster Two", cursive;
    text-align: right;
    font-size: 1.1rem;
    padding: 12px;
    line-height: 12px
}


@media screen and (max-width: 545px) {
    .one {
        display: block
    }
}

@media screen and (max-width: 700px) {
    .logo-pic img {
        display: none
    }
}

@media screen and (min-width: 700px) {

    .wrapper {
        height: 100%
    }

    .nav ul {
        text-align: right;
    }
    
    .nav ul li {
        display: inline-block;
        border-bottom: none;
        border-right: 1px solid hsl(115, 63%, 65%);
    }

    .banner {
        margin-top: 0px;
        background-position: center center;
        background-size: 1080px 455px;
        background-attachment: fixed;
        background-repeat: repeat-x;
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .title {
        margin-top: -10px
    }

    .services {
        height: 668px;
        margin-bottom: 32px;
        overflow-block: auto;
    }

    .single-service {
        width: 50%;
        float: left;
    }

    .single-service figcaption {
        margin: 0px 10px;
        margin-top: 10px;
        min-height: 54px;
    }

    .single-service figcaption span {
        display: inline-block
    }

    .single-service img:hover {
        cursor: pointer;
        animation: logo 1s infinite;
        animation-timing-function: linear; 
    }

    @keyframes logo {
        0% { transform: scale(1); }
        50% { transform: scale(1.1); }
        100% { transform: scale(1); }
      }

    footer {
        max-height: 12px;
        text-align: right;
    }
}

@media screen and (min-width: 776px) and (max-width: 978px) {
    /* same height for span text-lines*/
    
    .match {
        display: block !important
    }
}

@media screen and (min-width: 978px) {
    
    .services {
        height: 614px;
        margin-bottom: 32px;
        overflow-block: auto;
    }
    
    .single-service figcaption {
        min-height: 27px;
    }

    .single-service figcaption span {
        display: inline-block;
    }
}
